<% content_for(:title, "Section | Learn to Program") %>

<h1><%=   @section.name %></h1>

<p>
  <%= @section.description %>
</p>

<h4>Lessons in this Section</h4>

<ul>
  <% @section.lessons.each do |lesson| %>
  <li><%= lesson.number %> | <%= link_to lesson.name, section_lesson_path %></li>
  <% end %>
</ul>

<p>
  <%= link_to "Create a New Lesson", new_section_lesson_path(@section) %>
</p>

<p>
  <%= link_to 'Update this section', edit_section_path(@section) %>
</p>

<p>
  <%= link_to "Delete this section", section_path(@section),
                                          :data => {:confirm => "Are you sure?",
                                                    :method => 'delete'} %>
</p>

<p>
  <%= link_to 'Return to sections list', sections_path %>
</p>
