<% content_for(:title, "Lesson | Learn to Program") %>

<h1><%=   @lesson.name %></h1>

<p>
  <%= @lesson.content %>
</p>

<p>
  <%= link_to 'Update this lesson', edit_lesson_path(@lesson) %>
</p>

<p>
  <%= link_to "Delete this lesson", lesson_path(@lesson),
                                    :data => {:confirm => "Are you sure?",
                                              :method => 'delete'} %>
</p>


<p>
  <%= link_to "Next lesson", lesson_path(@lesson) %>
</p>

<p>
  <%= link_to 'Return to lessons list', lessons_path %>
</p>
